.container{
    display: grid;
    grid-template-rows: repeat(3,150px);
    grid-template-columns: repeat(4, 150px);
    grid-gap: 1em ;
    padding: 50px;
   
    }
    .box1{
        width:  150px;
height: 150px;
display: flex;
justify-content: center;
align-items: center;
border-radius: 10px ;
color: var(--clr-light);
font-weight: 700;
font-size: 1.25rem;
    background-color: aqua;
    top: 200px;
    left: 700px;
    position: absolute;
    }
    
    .box2{
        width:  150px;
height: 150px;
display: flex;
justify-content: center;
align-items: center;
border-radius: 10px ;
color: var(--clr-light);
font-weight: 700;
font-size: 1.25rem;
        background-color: blueviolet;
        position: absolute;
    top: 200px;
    left: 900px;
    }

    .box3{
        width:  150px;
height: 150px;
display: flex;
justify-content: center;
align-items: center;
border-radius: 10px ;
color: var(--clr-light);
font-weight: 700;
font-size: 1.25rem;
        background-color: chartreuse;
        position: absolute;
    top: 200px;
    left: 1100px ;
    }
    
    .box4{
        width:  150px;
height: 150px;
display: flex;
justify-content: center;
align-items: center;
border-radius: 10px ;
color: var(--clr-light);
font-weight: 700;
font-size: 1.25rem;
        background-color: chocolate;
        position: absolute;
    top: 400px;
    left: 700px ;
    }
    .box5{
        width:  150px;
height: 150px;
display: flex;
justify-content: center;
align-items: center;
border-radius: 10px ;
color: var(--clr-light);
font-weight: 700;
font-size: 1.25rem;
        background-color: chocolate;
        position: absolute;
    top: 400px;
    left: 900px ;
    }
    .box6{
        width:  150px;
height: 150px;
display: flex;
justify-content: center;
align-items: center;
border-radius: 10px ;
color: var(--clr-light);
font-weight: 700;
font-size: 1.25rem;
        background-color: aquamarine;
        background-color: chocolate;
        position: absolute;
    top: 400px;
    left: 1100px ;
    }
    .box7{
        width:  150px;
height: 150px;
display: flex;
justify-content: center;
align-items: center;
border-radius: 10px ;
color: var(--clr-light);
font-weight: 700;
font-size: 1.25rem;
        background-color: blue;
        background-color: chocolate;
        position: absolute;
    top: 600px;
    left: 700px ;
    }
    .box8{
        width:  150px;
height: 150px;
display: flex;
justify-content: center;
align-items: center;
border-radius: 10px ;
color: var(--clr-light);
font-weight: 700;
font-size: 1.25rem;
        background-color: crimson;
        background-color: chocolate;
        position: absolute;
    top: 600px;
    left: 900px ;
    }
    .box9{
        width:  150px;
height: 150px;
display: flex;
justify-content: center;
align-items: center;
border-radius: 10px ;
color: var(--clr-light);
font-weight: 700;
font-size: 1.25rem;
        background-color: chocolate;
        position: absolute;
        top: 600px;
        left: 1100px ;
    }
    .box10{
        width:  150px;
height: 150px;
display: flex;
justify-content: center;
align-items: center;
border-radius: 10px ;
color: var(--clr-light);
font-weight: 700;
font-size: 1.25rem;
        background-color: chocolate;
        position: absolute;
    top: 800px;
    left: 700px ;
    }
    .box11{
        width:  150px;
height: 150px;
display: flex;
justify-content: center;
align-items: center;
border-radius: 10px ;
color: var(--clr-light);
font-weight: 700;
font-size: 1.25rem;
        background-color: chocolate;
        position: absolute;
    top: 800px;
    left: 900px ;
    }
    .box12{
        width:  150px;
height: 150px;
display: flex;
justify-content: center;
align-items: center;
border-radius: 10px ;
color: var(--clr-light);
font-weight: 700;
font-size: 1.25rem;
        background-color: chocolate;
        position: absolute;
    top: 800px;
    left: 1100px ;
    }